@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 59% 22%;
    --card: 60 56% 94%;
    --card-foreground: 25 59% 22%;
    --popover: 60 56% 94%;
    --popover-foreground: 25 59% 22%;
    --primary: 120 27% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 120 27% 85%;
    --secondary-foreground: 120 25% 15%;
    --muted: 120 27% 88%;
    --muted-foreground: 120 25% 45%;
    --accent: 25 59% 40%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 20% 83%;
    --input: 120 20% 83%;
    --ring: 120 27% 65%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 25 20% 10%;
    --foreground: 60 56% 91%;
    --card: 25 20% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 25 20% 10%;
    --popover-foreground: 60 56% 91%;
    --primary: 120 27% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 25 20% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 25 20% 20%;
    --muted-foreground: 60 56% 60%;
    --accent: 34 44% 68%;
    --accent-foreground: 25 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 20% 25%;
    --input: 25 20% 25%;
    --ring: 120 27% 65%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(hsl(var(--muted)) 0.5px, transparent 0.5px);
    background-size: 10px 10px;
  }
  section {
    @apply w-full py-12 md:py-24 lg:py-32;
  }
}

@layer utilities {
  .header-centered {
    display: flex;
    justify-content: center;
  }
}
